<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Search" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout class="page__content" >
  <Label class="page__content-icon fas" text="&#xf002;"></Label>

  <Label text="'Examples: write Movies, Hotels, Meals or Parties'"></Label>

  <SearchForm (search)="initSearch($event)"></SearchForm>

  <ListView class="list-group" [items]="this.topics" (itemTap)="onItemTap($event)" style="height:1250px" backgroundColor="#F1F6F9">
    <ng-template let-x="item" let-idx="index">
      <FlexboxLayout flexDirection="row" class="list-group-item">
        <Image [src]="x.image" stretch="none" class="thumb img-circle"></Image>
        <Label [text]="x.topic" class="list-group-item-heading" verticalAlignment="center" style="width: 15%"></Label>
        <Label [text]="x.category" class="list-group-item-heading" verticalAlignment="center" style="width: 25%"></Label>
        <Label class="fas" text="&#xf005;" (tap)="onAddFavorite($event, idx)" style="width: 10%; color: rgb(214, 186, 62)"></Label>
        <Label [text]="x.description" class="list-group-item-heading" verticalAlignment="center" style="width: 40%"></Label>
        <Label class="fas" text="&#xf044;" (tap)="onEditItem($event, idx)" style="width: 10%"></Label>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</StackLayout>

