<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout class="page__content" >
  <Label text="Setting User" style="text-align: center;"></Label>
  
  <Label>Current User Name: {{userName}}</Label>

  <SettingsForm (setting)="onPersistUserData($event)"></SettingsForm>
</StackLayout>